	<div class="nav">
			<ul>
				<li class="nav-1" ><a href="__APP__">首页</a></li>
				<li class="nav-2"><a href="">宏昌印象</a>
					<ul class="xcxy">
						<li><a href="__APP__/Home/Content/HcImpressionYZ">院长介绍</a></li>
						<li><a href="__APP__/Home/Content/shuyaunintro">书院介绍</a></li>
						<li><a href="__APP__/Home/Content/huiyuanintro">会员介绍</a></li>
					</ul>
				</li>
				<li class="nav-3"><a href="">文墨留声</a>
					<ul class="wmls">
						<li><a href="__APP__/Home/Word/words">作品赏析</a></li>
						<li><a href="__APP__/Home/Word/newwords">最新作品</a></li>
					</ul>
				</li>
				<li class="nav-4"><a href="__APP__/Home/News/">新闻汇</a></li>
				<li class="nav-5"><a href="__APP__/Home/Content/contactUs">联系我们</a></li>
			</ul>
		</div><!-- nav" -->