*
{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: "黑体";
	
}

#main
{
	width:1050px;
	margin:auto;
	background: url(images/bj.gif)repeat-x;
	/*height: 1127px;*/
}
/*头部的css*/

#head
{
	
}
a
{
	text-decoration: none;
	color: #000;
}
li
{
	list-style: none;
}
/*导航*/
.nav ul 
{
	list-style-type: none;
	line-height: 43px;
}
.nav a
{
	text-decoration: none ;
	display: block;
	color: #fff;
}
.nav-1 , .nav-2 , .nav-3 , .nav-4 ,.nav-5
{
	vertical-align: center;
	float: left;

}
.nav-1
{
	background:url(images/nav-1.png) 0 0 repeat-x;
	width:295px;
	height: 52px;
}
.nav-2
{
	background: url(images/nav-2.gif);
	width:150px;
	height: 52px;
}
.nav-3
{
	background: url(images/nav-3.gif);
	width:154px;
	height: 52px;
}
.nav-4
{
	background: url(images/nav-4.gif);
	width:136px;
	height: 52px;
}
.nav-5
{
	background: url(images/nav-5.gif);
	width:315px;
	height: 52px;
}
.nav-1 a
{
	float: right;
}
.nav-2 a
{
	margin-left: 46px;
}
.nav-3 a
{
	margin-left: 46px;
}
.nav-4 a
{
	margin-left: 46px;
}
.nav-5 a
{
	float: left;
}
.xcxy ,  .wmls
{
	display: none;
	margin-left: -2px;
}
.xcxy li , .wmls li
{	
	line-height: 38px;
	margin:3px ;

	/*background:rgba(90, 87, 87, 0.4);*/
}
.xcxy li a , .wmls li a
{
	color: #000;
}
.xcxy li a:hover , .wmls li a:hover
{
	font-weight: bold;
}
/*简介*/
.intro
{
	width: 845px;
	height: 288px;
	margin-top: 80px;
    margin-left: 105px;
	background: url(images/intro1.png);

}
/*内容的css*/
#content 
{
	/*height: 1000px;*/
	margin-top:25px;
	/*background: red;*/
	margin-bottom: 50px;
	margin-bottom: -180px;

}
.content-1
{
	width: 450px;
	height: 300px;
	float: left;
	margin-left: 70px;
	/*padding-top: 50px;*/
	/*background: red;*/
}
.zpzs 
{	
	padding:20px 70px 20px 20px;
	line-height: 60px;
	background: url('images/bt.gif') no-repeat  left;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	float: left;
}
.gd
{	
	padding:20px 20px 20px 20px;
	line-height: 60px;
	float: right;
}
.theme-default
{
	
	padding-left: 35px;
}
/*第二个模块内容*/

.content-2
{
	width: 450px;
	height: 300px;
	float: right;
	margin-right: 70px;
	/*background: blue;*/

}
.new
{
	padding-top: 100px;
	padding-left: 30px;

}
.new ul li
{
	border-bottom: solid 1px #555;
	text-decoration: none;
	list-style: none;
	line-height: 38px;
	display: block;
}
.new ul li a:hover
{
	font-weight: bold;
}
.new ul li a
{
	font-size: 17px;
}

.content-3
{
	width: 450px;
	height: 350x;
	margin-left: 70px;
	/*background: yellow;*/
	float: left;
}
/*第四个部分*/
.content-4
{
	width: 450px;
	height: 350px;
	float: right;
	margin-right: 70px;
	/*background: #f00000;*/
}
.video embed
{
	
	padding-left: 30px;
	margin-top: -20px;

}
/*尾巴的css*/
#footer
{	
	padding-top: 750px;
	height: 201px;
	background: url(images/foot.png) no-repeat bottom;
}