<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>宏昌印象-院长介绍</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/nivo-slider.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css"> 
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/HcImpressionYZ.css">

</head>
<body >
<div id="main">               
	<div id="head">
	<img src="__PUBLIC__/css/images/xyh.gif" alt="">
		<div class="word">
			
		</div>
		<include file='Common:nav'/>
	</div>
	<div id="content_YZ">
		<div class="wz">
			<span><b>您的位置：</b></span>
			院长介绍
		</div>
		{$content[0]['content'] | htmlspecialchars_decode}
	</div>
	<div id="footer_YZ"></div>
</div>
	
</body>
</html>