
<include file='common:header'/>

	<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">单页管理</a>
							</li>

						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="space-6"></div>

								<div class="row">
									<div class="col-sm-10 col-sm-offset-1">
										<div class="widget-box transparent invoice-box">
										

											<div class="widget-body">
												<div class="widget-main padding-24">
													<div class="row">
															

														<div class="col-sm-6">
															<div class="row">
																<div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
																	<b></b>
																</div>
															</div>

															<div>
																<ul class="list-unstyled  spaced">
																	<li>
																		<i class="icon-caret-right green"></i>
																		 新增新闻
																	</li>
																</ul>
															</div>
														</div><!-- /span -->
													</div><!-- row -->
													<form action="{:U('News/alertNews')}" method="post">
													<div>
														<label>新闻标题 <i style="color: red">*</i></label>
														<input type="text" name="title" value="{$content[0]['intro']}">
													</div>
													<div class="hr hr8 hr-double hr-dotted"></div>
													<div class="space-6">	
													</div>
													<div>
														<textarea id="editor_id" name="content" >{$content[0]['content']}</textarea>
													</div>
													<input type="hidden" name="id" value="{$id}">
													<div class="space"></div>
													<input type="submit" value="修改" class="btn-success">
													</form>
												
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

	
<include file='common:foot'/>