<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新宏昌书画院</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/nivo-slider.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css"> 

</head>
<body >

	
<div id="main" >               
	<div id="head">
	<img src="__PUBLIC__/css/images/xyh.gif" alt="">
		<div class="word"></div>
		<include file='Common:nav'/>
		<div class="intro">
		</div>
	</div>
	<div id="content">
		<div class="content-1">
			<div class="zpzs">
				作品展示
			</div>
			<div class="gd">
				<a href="__APP__/Home/Word/newwords">更多<<<</a>
			</div>
			<div class="theme-default" style="width: 400px">
				 <div id="slider" class="nivoSlider" >
					<foreach name="list1" item="vo">
							<img  width="150px" src="Uploads/{$vo.address}"  data-thumd="__PUBLIC__/images/nivoSlider/nemo.jpg">
					</foreach>
				</div>
			</div>
		</div>
		<div class="content-2">
			<div class="zpzs">
				新闻汇
			</div>
			<div class="gd">
				<a href="__APP__/Home/News/">更多<<<</a>
			</div>
			<div class="new">
				<ul>
					<foreach name='list' item='vo'>
					<li><i style="display: none">{vo.id}</i><img src="__PUBLIC__/css/images/xbt.gif"> <a href="__APP__/Home/News/newsc?id={$vo.id}">{$vo.intro}</a> &nbsp&nbsp&nbsp&nbsp<span style="float: right ">{$vo.time|date="Y-m-d" , ###}</span></li>
				</foreach>	
					
					
				</ul>
			</div>
		</div>
		<div class="content-3">
			<div class="zpzs">
				会员介绍
			</div>
			<div class="gd">
				<a href="__APP__/Home/Content/huiyuanintro">更多<<<</a>
			</div>
			<div >
				<img style="margin-left: 36px;margin-top: -19px" src="__PUBLIC__/css/images/furen.png">
			</div>
		</div>
		<div class="content-4">
			<div class="zpzs">
				书院介绍
			</div>
			<div class="gd">
				<a href="__APP__/Home/Content/shuyaunintro">更多<<<</a>
			</div>
			<div class="video">
				<embed src="http://player.youku.com/player.php/sid/XMzI2NTc4NTMy/v.swf" 
				width="420" height="270" 	
				type="application/x-shockwave-flash">
				</embed>
			</div>
		</div>
	</div>
	<div id="footer">
	</div>
</div>
	

	
</body>
</html>